/* Gravity Forms styles*/
.gform_wrapper .gform_button { /* button */
  background-color: #615445;
  border-radius: 0;
  color: #FFF;
}

/* override list bullet style for forms*/
.main-content .gform_wrapper ul li:before {
  content:'';
}

/* added this field for Employer Engagement Form's Husky Hacks Hackathons description.
This is dependent on the field's ID number so it will break if field is deleted.*/
.gform_wrapper .description_above #field_11_28 .gfield_description {
  font-weight: 500;
  font-size: 0.9em;
  background-color: #F3F2EF;
  padding-bottom: 0;
}

/* Google Custom Search Engine styles */
.js .page-template-default .cse .gsc-control-cse, .gsc-control-cse {
  font-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif !important;
  padding: 0 !important;
}
.js .gsc-control-cse #gs_tti50 {
  line-height: 1.6em;
  padding-left: 4px;
}
.js .gsc-control-cse #gs_tti50 input {
  font-size: 1em;
}
.js .gsc-control-cse .gsst_a {
  padding-top: 5px;
}
.js .gsc-control-cse .gsc-search-button {
  box-sizing: content-box;
}
.js .gsc-table-result, .js .gsc-thumbnail-inside, .js .gsc-url-top {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.js .gsc-control-cse .gsc-resultsHeader {
  display: none;
}
.js .gsc-control-cse .gsc-result-info {
  padding: 8px 0;
}
.js .gsc-control-cse table {
  border: 0;
  margin-bottom: 0;
  min-height: 0;
}
.js .gsc-control-cse table {
  border: 0;
  margin-bottom: 0;
  min-height: 0;
}
.js .gsc-control-cse td {
  border-top: 0;
  padding: 0;
}
.js .gsc-control-cse td.gs-promotion-text-cell {
  padding: 0 5px;
}
.js .gsc-control-cse .gsc-input td {
  padding: 0;
}
.js .gsc-control-cse .gsc-table-cell-snippet-close {
  font-family: "HelveticaNeueW01-55Roma", "Helvetica Neue", HelveticaNeue, Helvetica, sans-serif !important;
}
.js .gsc-results .gsc-cursor-box {
  text-align: center;
  font-size: 1.2em;
}
.no-js #searchform-q {
  display: none;
}
@media screen and (max-width: 768px) {
  .js .gsc-results .gsc-cursor-box .gsc-cursor-page {
  margin-right: 15px;
  }
}

/* MailChimp form styles; used on http://www.ccis.northeastern.edu/news/ */

#mc_embed_signup .indicates-required {
  font-size: 0.8em;
  margin: 5px 0 9px;
}

#mc_embed_signup .mc-field-group {
  margin-bottom: 5px;
}

#mc_embed_signup_scroll .mc-field-group:nth-child(3) label {
  margin-right: 31px;
}

#mc_embed_signup_scroll .mc-field-group:nth-child(4) label {
  margin-right: 5px;
}

#mc_embed_signup_scroll .mc-field-group:nth-child(5) label {
  margin-right: 5px;
}

#mc_embed_signup_scroll .mc-field-group:nth-child(6) label {
  margin-right: 18px;
}

#mc_embed_signup #mc-embedded-subscribe {
  background-color: #FEC92B;
  border-radius: 0;
  color: #615445;
  margin-top: 10px;
}

#mc_embed_signup .mc-field-group input {
  width: 187px;
}

@media (min-width: 768px) and (max-width: 991px) {
  #mc_embed_signup .mc-field-group input, #mc_embed_signup .mc-field-group select {
    width: 100%;
  }
}

#mc_embed_signup input, #mc_embed_signup select {
  color: #615445;
}

/* Events Calendar styles */

/* add bottom margin to date/time header on event listing page */
.main-content .tribe-events-schedule h2 {
    margin-bottom: 10px;
}

.recurringinfo {
  display: block !important;
}

/*Google forms styles*/
iframe[src*="docs.google.com/forms"] {
  width: 100%;
}

iframe[src*="1FAIpQLSe6NO"] {
  height: 2500px;
}

iframe[src*="1FAIpQLScrYV"] {
  height: 3300px;
}

iframe[src*="1FAIpQLSfi4QCmD"] {
  height: 1900px;
}

/*
 * OUTSIDE IFRAME FOR COMMENCEMENT
 */
@media screen and (min-width: 1200px) {
  iframe#theoIframe {
    height: 422px;
    width: 750px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  iframe#theoIframe {
    height: 217px;
    width: 385px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  iframe#theoIframe {
    height: 248px;
    width: 440px;
  }
}

@media screen and (max-width: 479px) {
  iframe#theoIframe {
    height: 180px;
    width: 320px;
  }
}

/* add hover to catalog link buttons; this is needed because of the change to catalog link buttons that breaking due to Google Tag Manager adding a query string to the URLs when clicked. */
a[onclick*="catalog.northeastern.edu"] {
  cursor: pointer;
}

/* add word break to links in contact boxes because long links overflow box in narrower windows */
.contact-links a {
  word-break: break-word;
}

/* reduce size of lockup to 75% due to the dimensions changing after the Khoury name change */
#site-logo img {
  width: 75%;
}

/* match unordered list styles in events match the rest of the site */
.main-content #tribe-events .tribe-events-content ul {
  list-style-type: none;
}

.main-content #tribe-events .tribe-events-content ul li:before {
  display: inline;
  color: #e11a2c;
  content: '\25A0';
  font-size: 0.8em;
  padding-right: 0.5em;
  position: relative;
  top: -0.24em;
  margin-left: -15px;
}

/*section-nav overrides for combined majors program pages; which have too many links at the lowest level*/
#section-nav .sub-menu .sub-menu .menu-item-976 .sub-menu, #section-nav .sub-menu .sub-menu .menu-item-3721 .sub-menu {
  display: none;
}
.single-program #section-nav .sub-menu .sub-menu li.current-menu-ancestor.menu-item-has-children>a:after, #section-nav .sub-menu .sub-menu li.current-menu-ancestor.menu-item-has-children.menu-item-3721>a:after, #section-nav .sub-menu .sub-menu li.current-menu-item.menu-item-has-children>a:after {
  content: none;
}

.single-program #section-nav .sub-menu .sub-menu>.current-menu-ancestor.menu-item-976>a, #section-nav .sub-menu .sub-menu>li#menu-item-3721.current-menu-ancestor.menu-item-3721>a {
  background-color: rgba(225,26,44,.85);
  color: #fff;
}

/* styles to make account activation screen more readable due to use of homepage template */
#signup-content.wide-column {
  background-color: #FFF;
}
.wide-column .wp-activate-container {
  margin: 0 auto;
  padding: 100px 0;
  width: 50%;
}
